// 字体颜色
$font-color:#ffffff;
//头部背景颜色
$header-background: #ffffff;
// 中间背景颜色
$center-background: #ffffff;
// 全部背景颜色
$background: #e6e6e6;
// hover颜色
$hover: #ff0000;
// 浅色字体
$light-font-color: #414141;
// 黑色字体
$black-font-size: #000000;